<div id="login">
    <h3>로그인</h3>
    아이디 : <br>
    <input type="text" name="" id="id"><br>
    비밀번호 : <br>
    <input type="password" name="" id="pw"><br><br>
    <button onclick="login(); inputReset('id'); inputReset('pw');" style="padding: 5px 62.5px 5px 62.5px; background-color: rgb(230, 230, 15);">로그인</button>
</div>
<div id="my">
    <ul>
        <li><a href="http://">마이페이지</a></li>
        <li><a href="http://">장바구니</a></li>
        <li><a href="" target="_blank">회원가입</a></li>
        <li><a href="" id="forgot">비밀번호 찾기</a></li>
        <li><a href="http://">고객센터</a></li>
        <li><a href="http://"><i class="fa fa-commenting-o"></i> 1:1 문의</a></li>
    </ul>
</div>