<h1><i class="fa fa-quote-left"></i> shoes brand <i class="fa fa-quote-right"></i></h1>
<nav>
    <ul>
        <li><a href="#rank">TOP</a></li>
        <li><a href="#new">NEW</a></li>
        <li><a href="/men">MEN</a></li>
        <li><a href="/women">WOMEN</a></li>
        <li><a href="">KIDS</a></li>
        <li id="event"><a href="http://">런칭이벤트</a></li>
        <li><div class="w3-sidebar w3-bar-block" style="display:none" id="mySidebar">
            <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
            <a href="#" class="w3-bar-item w3-button">운동화</a>
            <a href="#" class="w3-bar-item w3-button">스포츠</a>
            <a href="#" class="w3-bar-item w3-button">구두</a>
            <a href="#" class="w3-bar-item w3-button">샌들</a>
            <a href="#" class="w3-bar-item w3-button">캐주얼</a>
            <a href="#" class="w3-bar-item w3-button">부츠</a>
            </div>
            <div>
                <button class="w3-button w3-large w3-yellow w3-border" onclick="w3_open()">☰</button>
            </div></li>
    </ul>
</nav>