<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shoes brand</title>
    <style>
        body {width: 980px; margin: 0px auto;}
        *{font-family: "맑은 고딕", Arial, Helvetica, sans-serif; line-height: 150%;}
    </style>
    <script>

    </script>
</head>
<body>
<header>
    <%- include('header.ejs') %>
</header>
<section class="flex_container">
    <article>
        안녕하세요
    </article>
    <aside class="right">
        <%- include('article.ejs') %>
    </aside>
</section>
<footer>
    <%- include('footer.ejs') %>
</footer>
</body>
</html>